*:not(i) {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  background: #f3f4f8;
}

.image-grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.image-grid__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 360px;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  height: 220px;
  margin-right: 14px;
  margin-bottom: 14px;
  -webkit-transition: text-shadow 0.1s ease-in, -webkit-transform 0.14s ease-in;
  transition: text-shadow 0.1s ease-in, -webkit-transform 0.14s ease-in;
  transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
  transition: transform 0.14s ease-in, text-shadow 0.1s ease-in,
    -webkit-transform 0.14s ease-in;
}
.image-grid__item:before {
  content: "";
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
  border-radius: 3px;
  box-shadow: 0 10px 24px 0px rgba(0, 0, 0, 0.06),
    0 8px 20px -2px rgba(0, 0, 0, 0.1), 0 6px 10px -6px rgba(0, 0, 0, 0.2);
  -webkit-transition: visibility 0.1s ease-out, opacity 0.1s ease-out;
  transition: visibility 0.1s ease-out, opacity 0.1s ease-out;
  opacity: 0;
}
.image-grid__item:hover:before {
  visibility: visible;
  opacity: 1;
}

.grid-item {
  display: -webkit-box;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  justify-content: center;
  text-decoration: none;
  color: #eeeeee;
  overflow: hidden;
}
.grid-item:hover .grid-item__image {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.grid-item:hover .grid-item__hover {
  visibility: visible;
  opacity: 1;
}

.grid-item__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  -webkit-transform: scale(1);
  transform: scale(1);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.35s
    cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    -webkit-transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 0;
}

.grid-item__hover {
  visibility: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(rgba(47, 48, 50, 0.2), rgba(47, 48, 50, 0.7));
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.15);
  border-radius: 0;
  -webkit-transition: visibility 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: visibility 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
